@{
    ViewBag.Title = "Home Page";
}

<div>
    Search
    <input type="text" id="input" />
</div>

<div id="autocompletediv">
    Autocomplete
    <select id="select">
    </select>
</div>

@section Scripts
{
    <script src="~/Scripts/code.js"></script>
}